html,body{
    height: 100%;
    width: 100%;
}
.data{
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #04187d, #077e8e, #04187d);
    min-width: 1366px;
}
.data>.data-title{
    width: 100%;
    height: 105px;
    padding: 30px 0 35px 0;
    box-sizing: border-box;
    justify-content: center;
        /* 水平居中 */
}
.data>.data-title>.title-center {
    width: 440px;
    height: 40px;       
    box-sizing: border-box;
    border-right: 5px solid #0089ff;
    border-left: 5px solid #0089ff;
    position: relative;
    /* 设置为相对定位，以便伪元素定位 */
}
.data>.data-title>.title-center::before {
    content: "轮毂检测物联网平台主页";
    /* 要显示的文字内容 */
    position: absolute;
    /* 绝对定位 */
    top: 50%;
    transform: translate(15%, -55%);
    /* 精确居中 */
    color: #8aceeb;
    font-size: 30px;
    font-weight: 800;
}
.data>.data-title>.title-left, 
.data>.data-title>.title-right{
    width:calc(50% - 220px);
    height: 3px;
    background: #0089ff;
    margin-top: 18px;
}
.data>.data-content{
    width: 100%;
    height:calc(100% - 105px);
    padding:0 20px 20px 20px ;
    box-sizing: border-box;
}
.data>.data-content>.con-center{
    width: 100%;
    height: 99%;
    box-sizing: border-box;
    position: relative;
}
.data>.data-content>.con-center>.map-num{
    width: 500px;
    height: 120px;
    position: absolute;
    top: 15px;
    left:50px;
    z-index: 1000;
}
.data>.data-content>.con-center>.map-num>p{
    font-size: 28px;
    font-weight: 600;
    color:#fff;
}
.data>.data-content>.con-center>.cen-top{
    display: flex;
    width: 100%;
    height:calc(100%);
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid #0089ff;
    border-radius: 4px;
    box-sizing: border-box;
}
.data>.data-content>.con-center>.cen-top>.image1{
    width: 40%;
    height: 91%;
    margin-top: 2%;
    margin-left: 2%;
}
.data>.data-content>.con-center>.cen-top>.content1{
    width: 73%;
    height: 91%;
    margin-top: 2%;
    margin-right: 2%;
    overflow-y: scroll;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    line-height: 2.5;
    font-size: 16px;
    padding: 5%;
    
}
.data>.data-content .title{
    height: 35px;
    line-height: 35px;
    width: 100%;
    color:#fff;
    font-weight: 600;
    padding-left: 15px;
    box-sizing: border-box;
}
.data>.data-content img.bj-1{
    position: absolute;
    left:-1px;
    top:-1px;
}
.data>.data-content img.bj-2{
    position: absolute;
    right:-1px;
    top:-1px;
}
.data>.data-content img.bj-3{
    position: absolute;
    right:-1px;
    bottom:-1px;
}
.data>.data-content img.bj-4{
    position: absolute;
    left:-1px;
    bottom:-1px;
}
.check_svli1 {
    position: absolute;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    padding: 0.5% 5.5%;
    margin-left: 2%;
    margin-top: 2%;
    text-align: center;
    background-color: white;
    color: #036178;
    border: 2px solid #036178;
    font-weight: bold;
    font-size: large;
}
.check_svli1:hover {
    background-color: #036178;
    color: white;
}
.button-container {
    display: flex;
    margin-left: 50px;
}
.button-container-right {
    display: flex;
    margin-right: 50px;
}
.btn {
    padding: 10px;
    background-color: #00008B;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    margin-top: -1%;
    width: 200px;
    height: 40px;
}
.btnr {
    padding: 10px;
    background-color: #00008B;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    margin-top: -9.9%;
    width: 200px;
    height: 40px;
}
.btn:hover {
    background-color: #6a6aef;
}
.btnr:hover {
    background-color: #6a6aef;
}
.fr {
    text-align: right;
}
.button-container-right {
    text-align: right;
}