html,body{
    height: 100%;
    width: 100%;
}
.data{
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #04187d, #077e8e, #04187d);
    min-width: 1366px;
}
.data>.data-title{
    width: 100%;
    height: 105px;
    padding: 30px 0 35px 0;
    box-sizing: border-box;
}
.data>.data-title>.title-center{
    width: 440px;
    height: 40px;
    box-sizing: border-box;
    border-right: 5px solid #0089ff;
    border-left: 5px solid #0089ff;
    position: relative;
}
.data>.data-title>.title-center::before{
    content: "轮毂检测设备运行可视平台";
    position: absolute;
    top: 50%;
    transform: translate(10%, -55%);
    color: #8aceeb;
    font-size: 30px;
    font-weight: 800;
}

.data>.data-title>.title-left,
.data>.data-title>.title-right{
    width:calc(50% - 220px);
    height: 3px;
    background: #0089ff;
    margin-top: 18px;
}

.data>.data-content{
    width: 100%;
    height:calc(100% - 105px);
    padding:0 20px 20px 20px ;
    box-sizing: border-box;
}
.data>.data-content>.con-left{
    width: 23.4375%;
    height: 100%;
}
.data>.data-content>.con-left>.left-top{
    width: 100%;
    height:calc(75% - 20px);
    margin-bottom: 20px;
    position: relative;
}

.data>.data-content>.con-left>.left-top>.info{
    height:62%;
    width: 100%;
    border: 1px solid #20558b;
    /*border-radius: 4px;*/
    box-sizing: border-box;
    position: relative;
}

.data>.data-content>.con-left>.left-top>.info>.info-title{
    width: 158px;
    height: 43px;
    background: url('../img/info-title.png') no-repeat;
    position: absolute;
    top: -22px;
    left:50%;
    margin-left: -74px;
    color:#fff;
    font-size: 18px;
    font-weight: 600;
    line-height: 43px;
    text-align: center;
}
.data>.data-content>.con-left>.left-top>.info>.info-main{
    width: 100%;
    height: 80% ;
}
.data>.data-content>.con-left>.left-top>.info>.info-main>div{
    width: 275px;
    height: 25%;
    background: url('../img/info-text.png') no-repeat;
    margin: 8px auto;
}
.data>.data-content>.con-left>.left-top>.info>.info-main>div.info-1{
    margin-top: 40px;
}
.data>.data-content>.con-left>.left-top>.info>.info-main .info-img{
    width: 100px;
    height: 60px;
    position: relative;
}
.data>.data-content>.con-left>.left-top>.info>.info-main .info-img>img{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -24px;
    margin-top: -24px;
}
.data>.data-content>.con-left>.left-top>.info>.info-main .info-text{
    width: 175px;
    height: 70px;
    padding-left: 30px;
    padding-top: 16px;
    box-sizing: border-box;
}
.data>.data-content>.con-left>.left-top>.info>.info-main .info-text>p:nth-child(1){
    color:#fff;
    font-weight: 600;
    font-size: 14px;
}
.data>.data-content>.con-left>.left-top>.info>.info-main>.info-1> .info-text>p:nth-child(2){
    font-weight: 600;
    color:#ffff44;
    font-size: 22px;
}
.data>.data-content>.con-left>.left-top>.info>.info-main>.info-2> .info-text>p:nth-child(2){
    font-weight: 600;
    color:#25f3e6;
    font-size: 22px;
}
.data>.data-content>.con-left>.left-top>.info>.info-main>.info-3> .info-text>p:nth-child(2){
    font-weight: 600;
    color:#f84a4a;
    font-size: 22px;
}
.data>.data-content>.con-left>.left-top>.info>.info-main>.info-4> .info-text>p:nth-child(2){
    font-weight: 600;
    color:#f5c847;
    font-size: 22px;
}

.data>.data-content>.con-left>.left-top>.top-bottom{
    height:calc(38% - 20px);
    width: 100%;
    
    margin-top: 20px;
    border: 1px solid #20558b;
    box-sizing: border-box;
    position: relative;
}



.data>.data-content>.con-left>.left-bottom{
    width: 100%;
    height: 25%;
    border: 1px solid #20558b;
    box-sizing: border-box;
    position: relative;
}
.data>.data-content>.con-center{
    width: 53.125%;
    height: 100%;
    padding:0 20px;
    box-sizing: border-box;
    position: relative;
}

.data>.data-content>.con-center>.map-num{
    width: 87%;
    
    position: absolute;
    top: 15px;
    left:50px;
    z-index: 1000;
}
.data>.data-content>.con-center>.map-num>p{
    font-size: 18px;
    font-weight: 600;
    color:#fff;
}
.data>.data-content>.con-center>.map-num span{
    display: inline-block;
    width: 45px;
    height: 65px;
    text-align: center;
    line-height: 65px;
    background-color: #0089ff;
    color:#fff;
    font-size: 68px;
    font-weight: 600;
    font-family: "LcdD";
    margin-top: 15px;
}
.data>.data-content>.con-center>.map-num span:nth-child(2),
.data>.data-content>.con-center>.map-num span:nth-child(6){
    background-color: transparent;
    width: 30px;
}
.cen-top-wrapper {
    width: 100%;
    height: 45%;
    margin-bottom: 20px;
    display: flex;
}
.cen-top {
    width: 70%;
    height: 100%;
    margin-bottom: 20px;
    border: 1px solid #0089ff;
    border-radius: 10px;
    box-sizing: border-box;
}
.cen-top2 {
    width: 30%;
    height: 100%;
    margin-left: 2%;
    border: 1px solid #20558b;
    position: relative;     
}

.data>.data-content>.con-center>.cen-bottom{
    width: 100%;
    height: 25%;
    border: 1px solid #20558b;
    box-sizing: border-box;
    position: relative;
}
.data>.data-content>.con-center>.cen-bottom2{
    width: 100%;
    height: 25%;
    border: 1px solid #20558b;
    box-sizing: border-box;
    position: relative;
    margin-top: 2.5%;
}
.data>.data-content>.con-center>.cen-bottom2>.cen-bottom1 {
    width: 100%;
    height: 70%;
    border-right: 1px solid #20558b;
    box-sizing: border-box;
    position: relative;
    display: flex;
}
.data>.data-content>.con-center>.cen-bottom2>.cen-bottom1>.cen-bottom2-1{
    width: 25%;
    height: 100%;
    border-right: 1px solid #20558b;
    box-sizing: border-box;
    position: relative;
}
.data>.data-content>.con-center>.cen-bottom2>.cen-bottom1>.cen-bottom2-2{
    width: 25%;
    height: 100%;
    border-right: 1px solid #20558b;
    box-sizing: border-box;
    position: relative;
}
.data>.data-content>.con-center>.cen-bottom2>.cen-bottom1>.cen-bottom2-3{
    width: 25%;
    height: 100%;
    border-right: 1px solid #20558b;
    box-sizing: border-box;
    position: relative;
}
.data>.data-content>.con-center>.cen-bottom2>.cen-bottom1>.cen-bottom2-4{
    width: 25%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
}

.data>.data-content>.con-right{
    width: 23.4375%;
    height: 100%;
}
.data>.data-content>.con-right>.right-top{
    width: 100%;
    height: 32%;
    border: 1px solid #20558b;
    box-sizing: border-box;
    position: relative;
}
.data>.data-content>.con-right>.right-center{
    width: 100%;
    height:calc(36% - 40px);
    margin: 20px 0;
    border: 1px solid #20558b;
    box-sizing: border-box;
    position: relative;
}
.data>.data-content>.con-right>.right-bottom{
    width: 100%;
    height:32%;
    border: 1px solid #20558b;
    box-sizing: border-box;
    position: relative;
}

.data>.data-content .title{
    height: 35px;
    line-height: 35px;
    width: 100%;
    color:#fff;
    font-weight: 600;
    padding-left: 15px;
    box-sizing: border-box;
}
.data>.data-content .charts{
    width: 100%;
    height:calc(100% - 35px);
}

.data>.data-content img.bj-1{
    position: absolute;
    left:-1px;
    top:-1px;
}
.data>.data-content img.bj-2{
    position: absolute;
    right:-1px;
    top:-1px;
}
.data>.data-content img.bj-3{
    position: absolute;
    right:-1px;
    bottom:-1px;
}
.data>.data-content img.bj-4{
    position: absolute;
    left:-1px;
    bottom:-1px;
}


.button-container {
    display: flex;
    margin-left: 50px;
}

.button-container-right {
    display: flex;
    margin-right: 50px;
}

.btn {
    padding: 10px;
    background-color: #00008B;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    margin-top: -1%;
    width: 200px;
    height: 40px;
}

.btnr {
    padding: 10px;
    background-color: #00008B;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    margin-top: -9.9%;
    width: 200px;
    height: 40px;
}

.btn:hover {
    background-color: #6a6aef;
}

.btnr:hover {
    background-color: #6a6aef;
}

.fr {
    text-align: right;
    /* 右侧对齐 */
}

.scroller {
    margin-top: 8%;
    width: 87%;
    height: 80%;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    padding: 10px;
    margin-left: 5%;
    position: relative;
    overflow: hidden;
}

.scroller-content {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    animation: scroll 30s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-50%);
        /* 滚动到一半高度 */
    }
}


/* 每条记录的样式 */
.history-record {
    text-align: center;
    padding: 1%;
    height: 5%;
    margin-bottom: 1%;
    background: linear-gradient(to right, #04187d00, #82b8f384, #04187d00);
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
}

/* 鼠标悬停时效果 */
.history-record:hover {
    background-color: rgba(18, 162, 198, 0.5);
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/* 滑入动效 */
.history-record {
    opacity: 0;
    transform: translateX(-50px);
    animation: slideIn 0.7s ease forwards;
}

/* 滑入的动画 */
@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

